@import url('body.css');
@import url('main.css');
@import url('header.css');
@import url('footer.css');


:root{
    --branco: aliceblue;
    --cinzaborda: rgb(77, 77, 77);
    --verdin: #03FA6E;
    --fonteprincipal: 'Roboto';
    --fonteSubTitulo: 'Courier New', Courier, monospace;
}
